{namespace ma.AccessGroupSOY}
/**
 *Login
 */
/**
 * @param w the profile identifier, wrapped in an object for soy/closure advanced optimizations.
 */
{template .iWantTo}

<a href="#AccessGroup?security_profile_id={$w['security_profile_id']}">Edit</a>
{/template}
