{namespace ma.AccessGroupSOY}
/**
 *Login
 */
/**
 @param security_profile_id the profile identifier.
*/
{template .iWantTo}

<a href="#AccessGroup?security_profile_id={$security_profile_id}">Edit</a>
{/template}
